.container{padding-top: 40px;}

.navvv{background-color: none;}

.tv-logo{width: 100%;
         height: 100%;}



.button{background-color: black;
        border-radius: 4px; 
        color: white;}


.card{border: none;
     box-shadow: 10px 20px 20px gray;}


.hand-pic{width: 100%;
               }


 .bagpak{width: 40%;}

.margin-pic{margin-top: 20px;}


.bag-png{margin-left: 40px;}